body {
	background-color: rgb(231, 234, 243);
}
.degree {
	font-size: 8px;
}

.weatherIcon {
	border-radius: 80%;
	opacity: 0.6;
	background-color: rgb(255, 255, 255);
	margin-right: 5px;
	margin-left: 5px;
}
.smallWeatherIcon {
	width: 30px;
	height: 30px;
	border-radius: 80%;
	background-color: rgb(69, 69, 216);
}

.hourlyWeather {
	height: 120px;
	overflow-x: scroll;
	overflow-y: visible;
}

.hourlyContainer {
	border-top: 2px solid rgb(30, 30, 30);
	padding-top: 10px;
	margin-top: 10px;
}

.hourlyContainer::-webkit-scrollbar {
	width: 10px;
}

.hourlyContainer::-webkit-scrollbar-track {
	-webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
	background-color: #878798;
	border-radius: 10px;
}

.hourlyContainer::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgb(30, 30, 30);
}

#weekWeather {
	margin-top: 20px;
	border: 3px solid white;
	background-color: white;
	border-radius: 10px;
	min-width: 1090px;
	min-height: 200px;
}
#dayWeather {
	margin-top: 20px;
	border: 3px solid white;
	background-color: white;
	border-radius: 10px;

	min-height: 200px;
}
#weatherCardContainer {
	min-width: 605px;
	min-height: 300px;
}

#map {
	width: 500px;
	height: 310px;
}

.dailyWeatherData {
	width: 35%;
}
.weatherDiscription {
	width: 30%;
}

.dailyWeatherHeaderAbout {
	width: 45%;
}

.dailyWeatherIconsContainer {
	width: 15%;
	border-top: 2px solid rgba(34, 60, 80, 0.2);
	border-right: 2px solid rgba(34, 60, 80, 0.2);
}

.dailyWeatherIcons {
	width: 170px;
}

.weatherDailyData {
	width: 45%;
}

.dayTemperatureHeaders,
.dayTemperature {
	width: 88%;
	border-top: 2px solid rgba(34, 60, 80, 0.2);
	border-right: 2px solid rgba(34, 60, 80, 0.2);
	padding-right: 3%;
}
.dailyTempItem {
	width: 40px;
	text-align: center;
}

.dailyDayTime {
	border-top: 2px solid rgba(34, 60, 80, 0.2);
	width: 25%;
}
.dailyWeatherDiscription {
	border-top: 2px solid rgba(34, 60, 80, 0.2);
	border-right: 2px solid rgba(34, 60, 80, 0.2);
	width: 20%;
}

#dailyWeatherItem {
	background-color: white;
	border: 2px solid rgba(34, 60, 80, 0.2);
	border-radius: 10px;
}
